* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Mulish, sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.title {
    width: 952px;
    height: 177px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 192px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.56;
    color: #000000;
}
h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: black;
    margin: 26px auto;
}
.services_description {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #7D7987;
}
.serv_p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #7D7987;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 2.33;
    color: #000000;
}
img {
    height: 90px;
}
.services_ul {
    width: 1120px;
    margin: 80px auto 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.li_serv {
    background-color: white;
    width: 350px;
    margin-bottom: 37px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    overflow: hidden;
    padding: 54px 45px 46px 37px;
}
.li_serv:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.li_serv:hover {
    background-color: #e6edff;
}
.ref_learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: #458FF6;
    padding: 15px 51px;
    background-color: white;
    border: 1px solid #458FF6;
    border-radius: 55px;
    margin-bottom: 220px;
}
